// All colors you need! :)
$teal-light: #1abc9c;
$teal-dark: #16a085;
$yellow-light: #f1c40f;
$yellow-dark: #f39c12;
$orange-light: #e67e22;
$orange-dark: #d35400;
$green-light: #2ecc71;
$green-dark: #27ae60;
$blue-light: #3498db;
$blue-dark: #2980b9;
$purple-light: #9b59b6;
$purple-dark: #8e44ad;
$silver-light: #ecf0f1;
$silver-dark: #bdc3c7;
$wet-light: #34495e;
$wet-dark: #2c3e50;
